body {
font-family: "Montserrat Alternates";

}

.background-landing{
  background-image: image-url('landing.jpeg');
  background-size: cover;
}


.landing-content {
height: 450px;

}

h1 {
font-size: 30px;

}

.btn-landing {
background-color: #137BB3;
color: white;
}
