body {
  font-family: "Montserrat Alternates";
}
.landing-content {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

h1 {
  font-size: 30px;
}

.btn-landing {
  background-color: #137BB3;
  color: white;
}
