<header class="navbar navbar-expand sticky-top">
  <div class="container-fluid py-3 justify-content-center">
    <h1>CalmDown</h1>
  </div>
</header>

<nav class="navbar navbar-expand fixed-bottom mt-5 p-2">
  <a href="#" class="nav-link">
    <i class="fa-regular fa-comments nav-icon"></i>
    <span class="nav-text">Blog</span>
  </a>
  <a href="#" class="nav-link nav-link">
    <i class="fa-regular fa-calendar nav-icon"></i>
    <span class="nav-text">Calendar</span>
  </a>
  <a href="#" class="nav-link">
    <i class="fa-solid fa-plus nav-icon"></i>
    <span class="nav-text">Add event</span>
  </a>
  <a href="#" class="nav-link">
    <i class="fa-solid fa-list nav-icon"></i>
    <span class="nav-text">Program</span>
  </a>
  <a href="#" class="nav-link nav-link--active">
    <i class="fa-regular fa-circle-user nav-icon"></i>
    <span class="nav-text">Dashboard</span>
  </a>
</nav>
