<header class="navbar navbar-expand sticky-top">
  <div class="container-fluid py-3 justify-content-center">
    <h1>CalmDown</h1>
  </div>
</header>

<%# <nav class="navbar fixed-bottom bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-thin fa-comments"></i></a>
          <a href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-thin fa-calendar"></i></a>
          <a href="#">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-thin fa-circle-plus"></i></a>
          <a href="#">Add event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-thin fa-list"></i></a>
          <a href="#">Program</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-thin fa-circle-user"></i></a>
          <a href="#">Dashboard</a>
        </li>
      </ul>
  </div>
</nav> %>


<nav class="navbar fixed-bottom mt-5">
  <div class="container text-center justify-content-center p-2 mt-2">
    <div class="row">
      <div class="col">
        <a class="nav-link" href="#"><i class="fa-thin fa-comments"></i></a>
        <a href="#">Blog</a>
      </div>
      <div class="col">
        <a class="nav-link" href="#"><i class="fa-thin fa-calendar"></i></a>
        <a href="#">Calendar</a>
      </div>
      <div class="col">
        <a class="nav-link" href="#"><i class="fa-thin fa-circle-plus"></i></a>
        <a href="#">Add event</a>
      </div>
      <div class="col">
        <a class="nav-link" href="#"><i class="fa-thin fa-list"></i></a>
        <a href="#">Calendar</a>
      </div>
      <div class="col">
        <a class="nav-link" href="#"><i class="fa-thin fa-circle-user"></i></a>
        <a href="#">Dashboard</a>
      </div>
    </div>
  </div>
</nav>
