<%= simple_form_for (@transaction), html: { class: "container mt-5"} do |f| %>
<h2>Event: </h2>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.input :description %>
  <%= f.submit "Update!", class: "button" %>
<% end %>
