<div class="background-landing padding-header-navbar">
  <div class= 'd-flex justify-content-center align-items-center flex-column landing-content'>
    <h1>Welcome on CalmDown</h1>
    <%= link_to "Get Started", home_path, class: "btn btn-primary text-decoration-none rounded-4 btn-landing" %>
  </div>
</div>
