
<div class="background-program padding-header-navbar">
  <div class="container">
    <h1>Program</h1>
    <%= link_to kinesthetic_path do %>
      <i class="fa-solid fa-dice-d20"></i>
    <% end %>
  &nbsp&nbsp
    <%= link_to resources_path do%>
      <i class="fa-solid fa-clapperboard"></i>
    <% end %>


    <div class="card text-dark bg-light mb-3" style="max-width: 18rem align-items-center pt-2 rounded-right rounded left">
      <div class="card-header">
        <h6 class="card-title-general">5 hours before - Demo "stressing" Day</h6>
      </div>
      <div class="card-body">
        <p class="card-text">Take a place confortably and listen to the whale sing from Tadoussac </p>
        <p><i class="fa-solid fa-play"></i>  &nbsp&nbspSound</p>
      </div>
    </div>

    <div class="card text-dark bg-light mb-3" style="max-width: 18rem align-items-center pt-2 rounded-right rounded left">
        <div class="card-header">
          <h6 class="card-title-general">2 days before - Demo "stressing" Day</h6>
        </div>
        <div class="card-body justify-items-center">
          <p class="card-text">Take a place confortably and relax by watching the aquarium </p>
          <iframe width="318" height="150" src="<%= @resources.first.content %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>
