<div class="background-audio padding-header-navbar">
  <div class="container">
    <h1>Audio library </h1>
    <div class="card m-2 mt-3">
      <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2Fravetapesoldskool%2Fsleeping-rain-sounds%2F" frameborder="0" ></iframe>
    </div>
    <div class="card m-2">
      <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2Fromicabreten%2Frelaxing-forest-nature-sounds%2F" frameborder="0" ></iframe>
    </div>
    <div class="card m-2">
      <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2Fyogatea%2Frelax-with-nature-dolphins-whales%2F" frameborder="0" ></iframe>
    </div>
    <div class="card m-2">
      <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2Fbetto_ro%2Fcrackling-fireplace%2F" frameborder="0" ></iframe>
    </div>
    <div class="card m-2">
      <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2Fbetto_ro%2Frelax-with-nature-sounds%2F" frameborder="0" ></iframe>
    </div>
    <div class="card m-2">
      <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=%2Fyogatea%2Frelax-with-nature-ocean-waves-at-sunset%2F" frameborder="0" ></iframe>
    </div>
  </div>
</div>
