<div class="container-cardiac background-cardiac">
  <h1>Cardiac coherence</h1>
  <main>
    <div class="bubble">
      <svg height="300" width="300">
        <circle cx="50" cy="50" r="40" stroke="lightsteelblue" stroke-width="3" fill="lightsteelblue" />
      </svg>
    </div>
   </main>
  <p> Breath in through the nose as the circle expands <br> and release through the mouth as it contracts.</p>
</div>
