<div class="background-cardiac pt-3 mt-5 min-vh-100">
  <h1>Cardiac coherence</h1>
  <div id='balloon'>
    <div class="bubble">
      <svg height="300" width="300">
        <circle cx="70" cy="70" r="40" stroke="steelblue" stroke-width="3" fill="steelblue" />
      </svg>
    </div>
  </div>
  <div class='justify-items-center'>
    <h2> Breath in through the nose as the circle expands and release through the mouth as it contracts.</h2>
  </div>

</div>
