<h1>Dashboard</h1>

<div class="container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded">
  <h4>A journey of a thousand <br>miles always begins with a <br>first step.</h4>
</div>

<div class="container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded">
  <div>
    <h6>Statistique</h6><br>
  </div>
  <div>
    <img src="<%= asset_path('fake_graph.jpg') %>" class="img-fluid" alt="feeling-graph">
  </div>
</div>

<div class="container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded">
  <div>
    <h6>Next event</h6><br>
  </div>
  <div class="container">
    <p><%= @event.start_time  %></p><p><%= @event.end_time  %></p>
    <p><%= @event.name  %></p>
  </div>
</div>
