<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="background-dash padding-header-navbar" >
  <h1>Dashboard</h1>

  <div class="container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded pb-15">
    <h4>A journey of a thousand <br>miles always begins with a <br>first step.</h4>
  </div>

  <div class="container shadow p-3 mb-5 bg-white rounded">
    <div>
      <h6>Statistique</h6><br>
      <div data-controller="chart" data-chart-ratings-value="<%= @ratings.to_json %>">
        <canvas data-chart-target="graph" style="width: 400px"></canvas>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded">
    <div>
      <h6>Next event</h6><br>
    </div>
    <div class="container">
      <p><%= @next_event.start_time if @next_event%></p><p><%= @next_event.end_time if @next_event%></p>
      <p><%= @next_event.name if @next_event%></p>
    </div>
  </div>
</div>
