<div class="container background-dash padding-header-navbar px-2" >
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <h1 class="mb-3">Dashboard</h1>

  <div class="card mb-3" style="max-width: 18rem align-items-center pt-2 rounded-right rounded left">
    <div class="card-body">
      <h4 id="h4-dashboard">A journey of a thousand miles always begins with a first step.</h4>
    </div>
  </div>

  <div class="card text-dark bg-light mb-3" style="max-width: 18rem align-items-center pt-2 rounded-right rounded left">
    <div class="card-header">
      <h6 id="h6-dashboard">Statistique</h6>
    </div>
    <div class="card-body">
      <div data-controller="chart" data-chart-ratings-value="<%= @ratings.to_json %>">
        <canvas data-chart-target="graph" style="width: 400px"></canvas>
      </div>
    </div>
  </div>

  <div class="card text-dark bg-light mb-3" style="max-width: 18rem align-items-center pt-2 rounded-right rounded left">
    <div class="card-header">
      <h6 id="h6-dashboard">Next event</h6>
    </div>
    <div class="card-body">
      <h6><%= @next_event.name if @next_event%></h6>
      <p><%= @next_event.start_time.strftime("%d %B %Y") if @next_event %> at <%= @next_event.start_time.strftime("%Hh%M") if @next_event %></p>
    </div>
  </div>
</div>
