.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}

.table .table-striped {
  color: #ffffff;
}

.calendar-container {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  border-radius: 5px;
  border: 3px solid white;
}

.calendar-container .simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .prev-month {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  }

  .next-month.future {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
      }

  .today.current-month {
    background: #137BB3;
    border-radius: 5px;
      }

  .current-month {
    background: white;
    border-radius: 5px;
      }

  .future {}
  .start-date {}

  .past {}
  .has-events {}
}
