
.card-test {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 1));
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  border-radius: 10px
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


body {
  background-color: rgba(200, 200, 100, 0.9);
}
