h1 {
  font-size: 30px;
  color: #000000;
  font-family: "Montserrat Alternates";
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #000000;
  font-family: "Montserrat Alternates";
  text-align: center;
}

p {
  font-size: 10px;
  color: #000000;
  font-family: "Montserrat Alternates";
}


.card-header-general {
  font-family: $ms-font;
  font-size: 15px;
  font-weight: bold;
  border-top-left-radius : 12px;
  border-top-right-radius: 12px;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.card-body {
  font-family: $ms-font;
  font-size: 15px;
  text-align: justify;
  padding-bottom: 15px;
}

.card-header {
  box-shadow: -8px 7px 21px lightgrey;
  background-color: white;
  text-align: left;

  }

  .card-frame {
    border-radius: 15px;
  }

#text.dashboard {
  text-align: center;
}

#h6-program {
  margin-bottom: 0px;
}
