h1 {
  font-size: 30px;
  color: #000000;
  font-family: "Montserrat Alternates";
  text-align: center;

}

h2 {
  font-size: 20px;
  color: #000000;
  font-family: "Montserrat Alternates";
  text-align: center;
}
h3 {
  font-size: 20px;
  color: #000000;
  font-family: "Montserrat Alternates";
  text-align: center;
}

p {
  font-size: 10px;
  color: #000000;
  font-family: "Montserrat Alternates";
}

#text-event {
  font-size: 15px;
  color: #000000;
  font-family: "Montserrat Alternates";
  text-align: center;
}

#h4-dashboard {
  font-size: 20px;
  color: #000000;
  font-family: "Montserrat Alternates";
  text-align: justify;
}

#h6-dashboard {
  margin-bottom: 0px;
}

#text-nexteven {
  text-align: center;
}

#h6-dashboard {
  font-size: 12px;
  color: #000000;
  font-family: "Montserrat Alternates";
  text-align: center;
}

#content.event {
  text-align: center;
}
